services:
  - type: web
    name: techx-cognitive-server
    env: node
    plan: free
    buildCommand: "npm ci"
    startCommand: "node src/index.js"
    envVariables:
      - key: MONGO_URI
        fromDatabase: false
      - key: JWT_SECRET
        fromDatabase: false
